<h1>Pipes</h1>
<h2>the key value of pipe is transport the data not change in the property value</h2>

<!-- conver to uppercase -->
<p>uppercase: {{name | uppercase}}</p>

<!-- conver to lowercase -->
<p>titlecase: {{name | titlecase}}</p>

<!-- get sub string -->
<p>slice: {{name | slice:2}}</p>

<!-- get sub string with start and end (excluded)-->
<p>slice: {{name | slice:2:7}}</p>

<p>object as a json {{users | json}}</p>

<!--   Explain 
    2 => get two number before point print 24
    if 3 => get three number before point print 024
    2-2 => get 2 number after point with approximation
 -->
<p>{{24.337 | number:'1.2-2'}}</p>
<p>{{24.337 | number:'1.2-4'}}</p>

<!-- percent -->
<p> {{.25 | percent}}</p>

<!-- currency -->
<p>{{22 | currency: 'BTC' }}</p>

<!-- date -->
<p>{{date}}</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date:'shortDate'}}</p>
<p>{{date | date:'shortTime'}}</p>
<p>{{date | date:'dd:MM:yyyy'}}</p>
