<!--
 ngModel directive (panana in a box) is used to pass input value to controller then return back to 
 template (i.e view)
so that there sync between controller and ui
=>>> note that ngModel will throw error Can't bind to 
'ngModel' since it isn't a known property of 'input'. so that we need to import FormsModule in app.module
-->
<input type="text" name="" id="getname" [(ngModel)]="name">
<p>my name is <span [style.color]="'red'">{{name}}</span></p>


<!-- 
show/remove html element with ngIf 
if ngIf=false so that the elemeny will be remove from the DOM no have in space in it.
-->
<p *ngIf="isShown">i will be shown/removed</p>

<!-- use if else  note ng-template not html native tag so that not shown by default -->
<p *ngIf="true; else showName">my name is hidden now</p>
<ng-template #showName>
    <p>my name is ali ahmed</p>
</ng-template>

<!-- ngIf then else  -->
<div *ngIf="false; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
    <h1> then block</h1>
</ng-template>
<ng-template #elseBlock>
    <h1> else block</h1>
</ng-template>

<br>


<!-- ngswitch -->
<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">red</div>
    <div *ngSwitchCase="'green'">green</div>
    <div *ngSwitchCase="'blue'">blue</div>
    <div *ngSwitchDefault>default</div>
</div>

<br>


<!--  ngFor
1) let color of colors;
2) index as i;
3) first as f;
4) last as l;
5) odd as o;
6) even as e;

-->
<div *ngFor="let color of colors">
    <li>{{color}}</li>
</div>