<!-- Once we import FormsModule, NgForm directive becomes active by default on all <form> tags.
We can export NgForm into a local template variable. (i.e #formValue)
note that ngForm directive has many methods(value, valid, toutched, submitted)
 -->

<!-- FORM NOT BINDING TO MODEL -->
<h2>FORM NOT BINDING TO MODEL</h2>
<form #userForm="ngForm">
	<div>
		<label for="username">username</label>
		<!-- ngModel to make name shown in #userForm array {key=>name(username,...), value(value of username input field)} update instantly in #userForm values -->
		<input id="username" type="text" name="username" ngModel>
	</div>

	<div>
		<label for="phone">Phone</label>
		<input id="phone" type="tel" name="Phone" ngModel>
	</div>

	<!-- ngModelGroup to group multi items in one object in  #userForm-->
	<div ngModelGroup="Address">
		<div>
			<label for="stree">Street</label>
			<input type="text" name="street" ngModel>
		</div>

		<div>
			<label for="city">City</label>
			<input type="text" name="city" ngModel>
		</div>
	</div>
</form>

<h4>
	<!-- userForm.value: It will return form value. It means we get an object containing
		 the values of all the fields used within <form> tag. -->
	{{userForm.value | json}}
</h4>
<br><br>


<!-- FORM BINDING WITH MODEL -->
<h2>FORM BINDING TO MODEL</h2>
<form #userForm="ngForm" style="margin-left: 10px;">
	{{userData | json}}
	<table>
		<tr>
			<td><label for="username">username</label></td>
			<!-- [ngModel] => two brackets mean will take a variable 
			[] mean that data flow will be from controller to view so that it one bind
			[()] mean that data flow will be from controller <=> view so that it two binding
			[()] = Sync
			-->
			<input #name="ngModel" required type="text" name="name"
					[class.is-invalid]="name.invalid && name.touched"
					[(ngModel)]="userData.name">
		</tr>
		<tr>
			<td><label for="phone"></label></td>
			<!-- call style is-invalid and  if phone is touched and not filled   -->
			<input type="text" required pattern="\d{3}[-\s\.]\d{3,6}" #phone="ngModel" 
			              [class.is-invalid]="phone.invalid && phone.touched" name="phone"
						  [(ngModel)]="userData.phone">
		</tr>
	</table>

</form>

<p style="margin-left: 10px;">how to get all classes for html tag just give it reference
	note that there 3 implicity classes attached with ngForm directive<br>
	<span style="color: red;">
		ng-untouched => user not visite it yet in verse => ng-touched<br>
		ng-pristine => user not modifiy it yet in verse => ng-dirty<br>
		ng-valid => if this field is required and it empty will be => ng-invalid<br>
	</span>
</p>
<p>all name input classes <span style="color: rgb(108, 8, 207);">{{name.className}}</span></p>