<p>test some features on input box</p>

<!-- use [] in tag when feature is attribut [] made attribute get its vlaue from controller  -->
<input type="text" [id]="myId" value="some value">

<!-- you can use interpolation  but note that interpolation not work in every time-->
<input type="text" id="{{myId}}" value="some value">

<!-- interpolation not work with boolean value so that we need []-->
<input type="text" [disabled]="disableInpt" id="{{myId}}" value="some value">

<!-- you can use bind-disabled-->
<input type="text" bind-disabled="disableInpt" id="{{myId}}" value="some value">



<!-- test how to change text-color -->
<p [class]="textState"> you see my color is</p>

<!-- test how to change text-color with single class condition when true -->
<p [class.text-wrong]="fixed"> you see my color is</p>

<!-- how to toggle betwwen two classes -->
<p [ngClass]="toggleClass"> you see my color is</p>



<!-- Style Binding -->

<!-- how to use style in html tag -->
<p [style.color]="'yellow'"> my color is</p>

<!-- how to use variable color -->
<p [style.color]="color"> my color is</p>

<!-- how to use group of styles -->
<p [ngStyle]="style"> my color is</p>