<div class="container">
    <h1>All products you want please click any product snippet to get details</h1>

    <ul class="list-group">
        <div *ngFor="let dept of departments">
            <li href="#" (click)="getDepDetails(dept)" [class.list-group-item-dark]="isSelectd(dept)"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span>{{dept.name}}</span>
                <span class="badge">{{dept.id}}</span>
            </li>
        </div>
    </ul>
</div>