 .deptId{
     margin-right: 20px;
 }

.li-item{
    margin-bottom: 5px;
    color: silver;
    font-size: 30px;
    background-color: seagreen;
}
.li-item:hover{
    background-color: rgb(3, 61, 32);
}